@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

.fira-code-default {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

* {
  @apply fira-code-default;
}

body {
  @apply bg-gradient-to-br from-slate-600 to-slate-800 min-h-screen p-4;
}

h5 {
  @apply text-lg;
}

h4 {
  @apply text-xl;
}

h3 {
  @apply text-2xl;
}

h2 {
  @apply text-3xl;
}

h1 {
  @apply text-4xl;
}

h1, h2, h3, h4, h5, h6, p, li {
  @apply text-zinc-100;
}

article * {
  @apply text-wrap font-mono;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
  @apply font-semibold;
}

article h1, article h2, article h3, article h4, article h5, article h6, article p {
  @apply pt-4;
}

.center {
  @apply flex flex-row justify-center;
}

.card {
  @apply rounded-xl p-2 shadow-lg;
}

.center-wide {
  @apply lg:w-2/3 w-11/12;
}

ul {
  @apply list-disc pl-8;
}

ol {
  @apply list-decimal pl-8;
}

table {
  @apply bg-zinc-100 rounded-xl;
}

tr, th, td {
  @apply p-2;
}

th {
  @apply text-center font-semibold;
}

tr, th {
  @apply border-b border-solid border-slate-900;
}

tr:nth-child(even) {
  @apply bg-zinc-400;
}


tr:nth-child(odd) {
  @apply bg-zinc-300;
}

article code {
  @apply bg-zinc-800 text-slate-50 px-1 rounded py-px;
}
