@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

.fira-code-default {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

* {
  @apply fira-code-default;
}

h5 {
  @apply text-lg;
}

h4 {
  @apply text-xl;
}

h3 {
  @apply text-2xl;
}

h2 {
  @apply text-3xl;
}

h1 {
  @apply text-4xl;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  @apply text-zinc-100;
}

article * {
  @apply text-wrap font-mono;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  @apply font-semibold;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
article p,
article ul,
article ol {
  @apply pt-4;
}

article p,
article li {
  @apply font-medium;
}

.center {
  @apply flex flex-row justify-center;
}

.card {
  @apply rounded-xl p-2 shadow-lg;
}

.center-wide {
  @apply lg:w-2/3 w-11/12 max-w-screen-xl mx-auto;
}

ul {
  @apply list-disc pl-8;
}

ol {
  @apply list-decimal pl-8;
}

table {
  @apply bg-zinc-100 rounded-xl;
}

tr,
th,
td {
  @apply p-2 border-l-slate-900 border-l;
}

th {
  @apply text-center font-semibold;
}

tr,
th {
  @apply border-b border-solid border-slate-900;
}

tr:nth-child(even) {
  @apply bg-zinc-400;
}

tr:nth-child(odd) {
  @apply bg-zinc-300;
}

article code {
  @apply bg-zinc-800 text-slate-50 px-1 rounded py-px;
}

article p {
  @apply indent-8;
}

article blockquote {
  @apply bg-slate-300/10 border-l-4 border-rose-400 rounded pb-2 my-4;
}

.code {
  @apply bg-zinc-900 text-white;
}

article pre:has(> code) {
  @apply code shadow-xl p-4 rounded-lg mb-2;
}

article code.code-block {
  @apply code;
}

article a {
  @apply text-sky-300;
}

article a:hover {
  @apply text-sky-200;
}

.vctest-list > * {
  @apply my-2;
}

.vctest-list button {
  @apply bg-red-600 hover:bg-red-700 text-white p-2 text-sm rounded-lg shadow-md hover:shadow-lg outline-none px-2;
}
